@import url("componentes/header.css");
@import url("componentes/hero.css");

/* VARIABLES */

:root {
  --color-azul: #0B63E5;
  --color-fondo-principal: #F8F8F8;
  --color-texto-principal: #121212;
  --color-separador: #CCCCCC;
  --color-active: #E0E0E0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-azul: #0B63E5;
    --color-fondo-principal: #000000;
    --color-texto-principal: #F8F8F8;
    --color-separador: #2F2F32;
    --color-active: #E0E0E0;
  }
}

/* ESTILOS GLOBALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-fondo-principal);
  color: var(--color-texto-principal);
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
}

ul {
  list-style: none;
}
