.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-fondo-principal);
  color: var(--color-texto-principal);
  z-index: 10;
  
  max-width: 1200px;
  margin: 0 auto;
}



.header-logo {
  vertical-align: middle;
  margin-right: 8px;
  width: 35px;
  height: 35px;
}

.header-nav {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header-link {
  color: var(--color-texto-principal);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-user-drag: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-link.active {
  background-color: var(--color-hover);
  color: var(--color-texto-principal);
  color: #000;
  outline: none;
}

/* Cambiar estilo para Accesibilidad */
.header-link:focus-visible {
  background-color: var(--color-hover);
  color: var(--color-texto-principal);
  color: #000;
  outline: none;
}

.header-link:hover {
  background-color: var(--color-hover);
  color: var(--color-texto-principal);
  color: #000;
  outline: none;
}

.header-button {
  display: none;
  background: none;
  border: none;
  color: var(--color-texto-principal);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-button:hover {
  background-color: var(--color-hover);
  color: var(--color-texto-principal);
  color: #000;
  outline: none;
}

/* Cambiar estilo para Accesibilidad */
.header-button:focus-visible {
  background-color: var(--color-hover);
  color: var(--color-texto-principal);
  color: #000;
  outline: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-fondo-principal);
    border-top: 1px solid var(--color-separador);
  }

  .header-nav.open {
    display: flex;
  }

  /* Opcional: animar los enlaces del menú */
  .header-nav.open .header-link {
    animation: slideFadeIn 0.2s ease-out forwards;
  }

  .menu {
    flex-direction: column;
    gap: 0;
  }

  .header-nav a {
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-separador);
    border-radius: 0rem;
  }

  .header-button {
    display: block;
  }
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}