.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1px solid var(--color-separador);
  background-color: var(--color-fondo-principal);
}

.header-text {
  vertical-align: middle;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-texto-principal);
}

.header-button {
  display: none;
  padding: 0.2rem;
  transition: transform 0.2s ease;
}

.header-button:hover {
  transform: scale(1.25);
}

.header-button:focus-visible {
  outline-color: var(--color-azul);
}

.header-nav {
  display: flex;
}

.header-nav-menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* Enlaces del menú */
.header-link {
  display: flex;
  font-size: 16px;
  color: var(--color-texto-principal);
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.header-link:hover {
  transform: scale(1.10);
}

.header-link:focus-visible {
  outline-color: var(--color-azul);
}

.header-link.active {
  color: var(--color-azul);
}

@media (max-width: 768px) {
  .header-button {
    display: block;
  }

  /* Navegación móvil oculta por defecto */
  .header-nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    background-color: var(--color-fondo-principal);
    border-top: 1px solid var(--color-separador);
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav-menu {
    flex-direction: column;
    gap: 0;
  }

  .header-nav a {
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-separador);
  }

  .header-link.active {
    background-color: var(--color-active);
    color: #000;
  }

  .header-nav.open .header-link {
    animation: slideFadeIn 0.2s ease-out forwards;
  }
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

