.hero {
  align-items: center;
  background: var(--color-fondo-principal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 80vh;
  padding: 4rem 1.5rem;
  text-align: center;
}

.version {
  background-color: var(--color-fondo-principal);
  border: 2px solid var(--color-separador);
  border-radius: 16px;
  color: var(--color-texto-principal);
  margin-bottom: 1rem;
  max-width: 200px;
  padding: 6px;
  width: 100%;
}

.hero-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 2rem;
  max-width: 600px;
}

.hero-description {
  color: var(--color-texto-principal);
  font-size: 18px;
  margin-bottom: 2rem;
  max-width: 600px;
}

.highlight {
  color: var(--color-azul);
  display: inline-block;
  transition: opacity 0.5s ease;
}

.animation {
  animation: fadeInUp 0.8s forwards;
  opacity: 0;
  transform: translateY(20px);
}

.slide {
  animation: slideInLeft 0.8s forwards;
  transform: translateY(50px);
}

.button-primary {
  background-color: var(--color-azul);
  border-radius: 16px;
  color: #F8F8F8;
  font-weight: bold;
  margin-top: 1rem;
  max-width: 600px;
  padding: 12px;
  width: 100%;
}

.button-secondary {
  background-color: var(--color-fondo-principal);
  border: 2px solid var(--color-separador);
  border-radius: 16px;
  color: var(--color-texto-principal);
  font-weight: bold;
  margin-top: 1rem;
  max-width: 600px;
  padding: 12px;
  width: 100%;
}

/* Animaciones clave */
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
    max-width: 600px;

  }

  .hero-description {
    color: var(--color-texto-principal);
    font-size: 16px;
    margin-bottom: 2rem;
    max-width: 600px;
  }
}